<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>tert@sbeznfshapgvba.pbz</string>
	<key>contactName</key>
	<string>Greg Leppert</string>
	<key>description</key>
	<string><a href="http://processingjs.org">Processing.js</a> is a Javascript implementation of the <a href="http://processing.org">Processing language</a>. This bundle primarily functions in tying together the Javascript and Processing bundles.</string>
	<key>name</key>
	<string>Processing.js</string>
	<key>ordering</key>
	<array>
		<string>254BBEC9-8107-421D-9848-F14F74E1B9C0</string>
	</array>
	<key>uuid</key>
	<string>63D1AFC2-6511-4BD8-824D-A3638D056186</string>
</dict>
</plist>
